# Little Lemon analysis and sales report

In [7]:
# Import MySQL Connector/Python 
import mysql.connector as connector

from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Prerequisites

## Set Up Database

In [8]:
# Read password from text file
with open('password.txt', 'r') as file:
    password = file.read().strip()
    
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": password
}

try:
    pool_a = MySQLConnectionPool(pool_name="pool_a",
                                 pool_size=2,
                                 **dbconfig)
    print("Connection pool created successfully")
    print("The connection pool is created with a name: ",pool_a.pool_name)
    print("The pool size is:",pool_a.pool_size)
except Error as e:
    print(f"Error while creating connection pool: {e}")

Connection pool created successfully
The connection pool is created with a name:  pool_a
The pool size is: 2

In [9]:
# Establish a connection & Create a cursor
try:
    connection = pool_a.get_connection()
    if connection.is_connected():
        print("Successfully obtained connection from pool_a")
        cursor = connection.cursor()
        print("Cursor object created successfully")
except Error as e:
    print(f"Error while obtaining connection from pool_a: {e}")

Successfully obtained connection from pool_a
Cursor object created successfully

In [10]:
cursor.execute("DROP DATABASE IF EXISTS little_lemon_db")
cursor.execute("CREATE DATABASE little_lemon_db")
cursor.execute("USE little_lemon_db")

### Create Tables

In [11]:
# MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Menus table
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Bookings table
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Orders table
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Employees table
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [12]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

### Insert Data

In [13]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [14]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

## Stored Procedures

### Implement a stored procedure called PeakHours

Step one: Write a SQL CREATE PROCEDURE query for PeakHours

- Use HOUR to extract the hour part from the BookingSlot.

- Use COUNT on hour to count the number of bookings.

- Use GROUP BY on booking hour.

- Use ORDER BY on the number of bookings in descending order.

Step two: Run the stored procedure query by invoking execute module on the cursor.

Step three: Invoke callproc to call the stored procedure.

Step four: Fetch the results in a variable called dataset.

Step five: Extract the names of the columns.

Step six: Print the names of the columns.

Step seven: Print the sorted data using for loop.

In [15]:
create_procedure_query = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT 
        HOUR(BookingSlot) AS BookingHour, 
        COUNT(*) AS NumberOfBookings
    FROM 
        Bookings
    GROUP BY 
        BookingHour
    ORDER BY 
        NumberOfBookings DESC;
END;
"""

cursor.execute(create_procedure_query)
print("Stored procedure PeakHours created successfully")

# Invoke Stored Procedure
cursor.callproc("PeakHours")
print("Stored procedure PeakHours called successfully")

# Fetch Results
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve Column Names Using List Comprehension in a 'for' Loop
columns = [column[0] for column in results.description]

# Print Column Names
print(columns)

#  Print Sorted Data
for data in dataset:
    print(data)

Stored procedure PeakHours created successfully
Stored procedure PeakHours called successfully
['BookingHour', 'NumberOfBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

### Implement a stored procedure GuestStatus

Step one: Write a SQL CREATE PROCEDURE query for GuestStatus.

Step two: Combine the guest’s first and last name from the booking column using CONCAT. 

Step three: Use CASE to implement the following statuses for each guest’s order:

- If the Role in the Employee table is Manager or Assistant Manager then the guest’s order status is Ready to pay

- If the Role in the Employee table is Head Chef then the status is Ready to serve

- If the Role in the Employee table is Assistant Chef then the status is Preparing Order

- If the Role in the Employee table is Head Waiter then the status is Order served

Step four: LEFT JOIN Bookings table with Employees ON EmployeeID

Step five: Run the stored procedure query by invoking execute module on the cursor.

Step six: Invoke callproc to call the stored procedure.

Step seven: Fetch the results in a variable called dataset.

Step eight: Extract the names of the columns.

Step nine: Print the names of the columns.

Step ten: Print the sorted data using for loop.

Step eleven: Close the connection to return it back to the pool.

In [16]:
create_procedure_query = """
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT 
        CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS GuestName,
        Orders.OrderID,
        CASE 
            WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
            WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
            ELSE 'Unknown'
        END AS OrderStatus
    FROM 
        Bookings
    LEFT JOIN 
        Employees ON Bookings.EmployeeID = Employees.EmployeeID
    LEFT JOIN 
        Orders ON Bookings.BookingID = Orders.BookingID;
END;
"""

cursor.execute(create_procedure_query)
print("Stored procedure GuestStatus created successfully")

cursor.callproc("GuestStatus")
print("Stored procedure GuestStatus called successfully")

# Fetch Results
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve Column Names
columns = [column[0] for column in results.description]

# Print Column Names
print(columns)

# Print Sorted Data
for data in dataset:
    print(data)

Stored procedure GuestStatus created successfully
Stored procedure GuestStatus called successfully
['GuestName', 'OrderID', 'OrderStatus']
('Anna Iversen', 1, 'Ready to pay')
('Joakim Iversen', 2, 'Ready to pay')
('Vanessa McCarthy', 3, 'Ready to serve')
('Marcos Romero', 4, 'Preparing Order')
('Hiroki Yamane', 5, 'Ready to pay')
('Diana Pinto', None, 'Order served')

# Task 1: Establish Connection Pool

Complete the following steps to establish a connection pool:

- To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.

- To find the information on the error, import the Error class from MySQL Connector/Python.

- Define your database configurations as a Python dictionary object called dbconfig.

- Establish a connection pool [pool_name = pool_b] with two connections. 

- Implement error handling using a try-except block in case the connection fails.

In [17]:
# Establish a connection pool with error handling
try:
    pool_b = MySQLConnectionPool(pool_name="pool_b",
                                 pool_size=2,
                                 **dbconfig)
    print("Connection pool 'pool_b' created successfully")
except Error as e:
    print(f"Error while creating connection pool: {e}")

Connection pool 'pool_b' created successfully

# Task 2: Insert Data

Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:


TIP: You need to add a connection to connect the third guest.


Guest 1:

Table Number: 8

First Name: Anees

Last Name: Java

Booking Time: 18:00

EmployeeID: 6


Guest 2:

Table Number: 5

First Name: Bald

Last Name: Vin

Booking Time: 19:00

EmployeeID: 6


Guest 3:

Table Number: 12

First Name: Jay

Last Name: Kon

Booking Time: 19:30 

EmployeeID: 6


Return all the connections back to the pool. 


TIP: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a PoolError. Use try-except to print the error message.

In [18]:
def get_connection(pool):
    try:
        return pool.get_connection()
    except Error:
        print("No more connections are available.")
        print("Adding new connection to the pool.")
        connection = connector.connect(user="root", password=password, database="little_lemon_db")
        pool.add_connection(cnx=connection)
        print("A new connection is added to the pool.\n")
        return pool.get_connection()

def add_booking(connection, table_no, first_name, last_name, booking_time, employee_id):
    cursor = connection.cursor()
    booking_query = """
    REPLACE INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES (%s, %s, %s, %s, %s)
    """
    cursor.execute(booking_query, (table_no, first_name, last_name, booking_time, employee_id))
    connection.commit()
    print(f"A new booking is added for {first_name} {last_name} in the 'Bookings' table.")
    cursor.close()

def close_connection(connection):
    try:
        connection.close()
        print("Connection returned to the pool")
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print("Error message:", er.msg)

In [19]:
# Guest details
guest_data = [
    (8, 'Anees', 'Java', '18:00:00', 6),
    (5, 'Bald', 'Vin', '19:00:00', 6),
    (12, 'Jay', 'Kon', '19:30:00', 6)
]

# Connections list
connections = []

# Connect guests and add bookings
for table_no, first_name, last_name, booking_time, employee_id in guest_data:
    connection = get_connection(pool_b)
    connections.append(connection)
    add_booking(connection, table_no, first_name, last_name, booking_time, employee_id)

# Return connections to the pool
for connection in connections:
    close_connection(connection)

A new booking is added for Anees Java in the 'Bookings' table.
A new booking is added for Bald Vin in the 'Bookings' table.
No more connections are available.
Adding new connection to the pool.
A new connection is added to the pool.

A new booking is added for Jay Kon in the 'Bookings' table.
Connection returned to the pool
Connection returned to the pool

Connection can't be returned to the pool
Error message: Failed adding connection; queue is full

In [20]:
connections

[<mysql.connector.pooling.PooledMySQLConnection at 0x20d195c5a50>,
 <mysql.connector.pooling.PooledMySQLConnection at 0x20d18cd3610>,
 <mysql.connector.pooling.PooledMySQLConnection at 0x20d196d7010>]

# Task 3: Create Report

Create a report containing the following information:

- The name and EmployeeID of the Little Lemon manager.

- The name and role of the employee who receives the highest salary.

- The number of guests booked between 18:00 and 20:00.

- The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [21]:
# Get a connection from the pool and create a cursor object
print("Getting a connection from the pool.")
connection = pool_b.get_connection()
print("""The object "connection" is created with a connection link from the pool_b""")
print("""Creating a cursor object to communicate with the database.""")
cursor = connection.cursor()
print("""The cursor object "cursor" is created.""")

Getting a connection from the pool.
The object "connection" is created with a connection link from the pool_b
Creating a cursor object to communicate with the database.
The cursor object "cursor" is created.

The name and EmployeeID of the Little Lemon manager.

In [22]:
# The name and EmployeeID of the Little Lemon manager.
cursor.execute("""
SELECT Name, EmployeeID 
FROM Employees 
WHERE Role = 'Manager'
""")
results = cursor.fetchall()
columns = cursor.column_names
print("Manager Info:")
print(columns)
for result in results:
    print(result)

Manager Info:
('Name', 'EmployeeID')
('Mario Gollini', 1)

The name and role of the employee who receives the highest salary.

In [23]:
cursor.execute("""
SELECT Name, Role 
FROM Employees 
ORDER BY Annual_Salary DESC 
LIMIT 1
""")
results = cursor.fetchall()
columns = cursor.column_names
print("Highest Salary Employee Info:")
print(columns)
for result in results:
    print(result)

Highest Salary Employee Info:
('Name', 'Role')
('Mario Gollini', 'Manager')

The number of guests booked between 18:00 and 20:00.

In [24]:
cursor.execute("""
SELECT COUNT(BookingID) AS n_booking_between_18_20_hrs
FROM Bookings 
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00'
""")
results = cursor.fetchall()
columns = cursor.column_names
print("Number of Guests Booked Between 18:00 and 20:00:")
print(columns)
for result in results:
    print(result)

Number of Guests Booked Between 18:00 and 20:00:
('n_booking_between_18_20_hrs',)
(7,)

The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [25]:
cursor.execute("""
SELECT 
    Bookings.BookingID AS ID,  
    CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName, 
    Role AS Employee
FROM Bookings 
LEFT JOIN Employees 
ON Employees.EmployeeID = Bookings.EmployeeID
WHERE Employees.Role = 'Receptionist'
ORDER BY BookingSlot ASC
""")
results = cursor.fetchall()
columns = cursor.column_names
print("Guests Waiting to be Seated:")
print(columns)
for result in results:
    print(result)

Guests Waiting to be Seated:
('ID', 'GuestName', 'Employee')
(7, 'Anees Java', 'Receptionist')
(8, 'Bald Vin', 'Receptionist')
(9, 'Jay Kon', 'Receptionist')

# Task 4: Create Stored Procedure

Create a stored procedure called BasicSalesReport that returns the following statistics. 

- Total sales

- Average sale

- Minimum bill paid

- Maximum bill paid

In [26]:
# Create a stored procedure named BasicSalesReport. 
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

stored_procedure_query="""
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT 
        SUM(BillAmount) AS TotalSales,
        AVG(BillAmount) AS AverageSale,
        MIN(BillAmount) AS MinimumBillPaid,
        MAX(BillAmount) AS MaximumBillPaid
    FROM Orders;
END
"""

# Execute the query
cursor.execute(stored_procedure_query)
print("Stored procedure BasicSalesReport created successfully.")

Stored procedure BasicSalesReport created successfully.

In [27]:
# Call the stored procedure with its name
cursor.callproc("BasicSalesReport")

# Retrieve records in "dataset"
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a for loop
cols = [column[0] for column in results.description]

print("Today's sales report:")
for result in dataset:
    print(f"\t{cols[0]}: {result[0]}")
    print(f"\t{cols[1]}: {result[1]}")
    print(f"\t{cols[2]}: {result[2]}")
    print(f"\t{cols[3]}: {result[3]}")

Today's sales report:
	TotalSales: 243
	AverageSale: 48.6000
	MinimumBillPaid: 37
	MaximumBillPaid: 86

# Task 5: Display Data with Buffered Cursor 

Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs that the orders are due. 

- Get a connection from the pool.

- Create a buffered cursor.

- Combine the data from the Bookings and the Employee tables, sort the retrieved records in ascending order, and display the information of the first three guests. 

- Return the connection back to the pool.

The output should be as follows:

[BookingSlot]

[Guest_name]

[Assigned to: Employee Name [Employee Role]]

In [28]:
# Get a connection from the pool
connection = pool_b.get_connection()
print("Got a connection from the pool")

# Create a buffered cursor
cursor = connection.cursor(buffered=True)
print("Buffered cursor created")

Got a connection from the pool
Buffered cursor created

In [29]:
# Query to combine data from Bookings and Employees tables
sql_query = """
SELECT 
    Bookings.BookingSlot,
    CONCAT(Bookings.GuestFirstName," ",Bookings.GuestLastName) AS Guest_Name,
    Employees.Name AS Emp_Name,
    Employees.Role AS Emp_Role
FROM 
    Bookings
INNER JOIN 
    Employees ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY 
    Bookings.BookingSlot ASC
LIMIT 3;
"""
cursor.execute(sql_query)
results = cursor.fetchall()

print("Next three upcoming bookings:")
for result in results:
    print(f"[BookingSlot: {result[0]}]")
    print(f"[Guest_name: {result[1]}]")
    print(f"[Assigned to: {result[2]} [{result[3]}]]\n")

Next three upcoming bookings:
[BookingSlot: 15:00:00]
[Guest_name: Vanessa McCarthy]
[Assigned to: Giorgos Dioudis [Head Chef]]

[BookingSlot: 17:30:00]
[Guest_name: Marcos Romero]
[Assigned to: Fatma Kaya [Assistant Chef]]

[BookingSlot: 18:00:00]
[Guest_name: Anees Java]
[Assigned to: John Millar [Receptionist]]

In [30]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("Connection closed and returned to the pool")

Connection closed and returned to the pool